In [129]:
import pandas as pd

In [131]:
df1 = pd.read_csv('Bangalore_houses.csv')

In [132]:
df1.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [136]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [137]:
df1.shape

(13320, 9)

In [138]:
df2 = df1.drop(['area_type','society','balcony'],axis=1)

In [139]:
df2.head()

    availability                  location       size total_sqft  bath   price
0         19-Dec  Electronic City Phase II      2 BHK       1056   2.0   39.07
1  Ready To Move          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00
2  Ready To Move               Uttarahalli      3 BHK       1440   2.0   62.00
3  Ready To Move        Lingadheeranahalli      3 BHK       1521   3.0   95.00
4  Ready To Move                  Kothanur      2 BHK       1200   2.0   51.00

In [140]:
df2.isnull().sum()

availability     0
location         1
size            16
total_sqft       0
bath            73
price            0
dtype: int64

In [141]:
df3 = df2.dropna()

In [142]:
df3.isnull().sum()

availability    0
location        0
size            0
total_sqft      0
bath            0
price           0
dtype: int64

In [143]:
df3.head()

    availability                  location       size total_sqft  bath   price
0         19-Dec  Electronic City Phase II      2 BHK       1056   2.0   39.07
1  Ready To Move          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00
2  Ready To Move               Uttarahalli      3 BHK       1440   2.0   62.00
3  Ready To Move        Lingadheeranahalli      3 BHK       1521   3.0   95.00
4  Ready To Move                  Kothanur      2 BHK       1200   2.0   51.00

In [144]:
df3['availability'].unique()

array(['19-Dec', 'Ready To Move', '18-May', '18-Feb', '18-Nov', '20-Dec',
       '17-Oct', '21-Dec', '19-Sep', '20-Sep', '18-Mar', '18-Apr',
       '20-Aug', '19-Mar', '17-Sep', '18-Dec', '17-Aug', '19-Apr',
       '18-Jun', '22-Dec', '22-Jan', '18-Aug', '19-Jan', '17-Jul',
       '18-Jul', '21-Jun', '20-May', '19-Aug', '18-Sep', '17-May',
       '17-Jun', '18-Oct', '21-May', '18-Jan', '20-Mar', '17-Dec',
       '16-Mar', '19-Jun', '22-Jun', '19-Jul', '21-Feb', '19-May',
       '17-Nov', '20-Oct', '20-Jun', '19-Feb', '21-Oct', '21-Jan',
       '17-Mar', '17-Apr', '22-May', '19-Oct', '21-Jul', '21-Nov',
       '21-Mar', '16-Dec', '22-Mar', '20-Jan', '21-Sep', '21-Aug',
       '14-Nov', '19-Nov', '15-Nov', '16-Jul', '15-Jun', '17-Feb',
       '20-Nov', '20-Jul', '16-Sep', '15-Oct', '20-Feb', '15-Dec',
       '16-Oct', '22-Nov', '15-Aug', '17-Jan', '16-Nov', '20-Apr',
       '16-Jan', '14-Jul'], dtype=object)

In [145]:
df3.groupby("availability")["availability"].count()

availability
14-Jul               1
14-Nov               1
15-Aug               1
15-Dec               1
15-Jun               1
                 ...
22-Jun              19
22-Mar               3
22-May               8
22-Nov               2
Ready To Move    10564
Name: availability, Length: 80, dtype: int64

In [146]:
df3['availability']=df3['availability'].apply(lambda x: x if x in ('Ready To Move') else 'Future Possession')

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_6736\1101699554.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['availability']=df3['availability'].apply(lambda x: x if x in ('Ready To Move') else 'Future Possession')

In [147]:
df3.groupby("availability")["availability"].count()

availability
Future Possession     2682
Ready To Move        10564
Name: availability, dtype: int64

In [148]:
df3['location'].unique()

array(['Electronic City Phase II', 'Chikka Tirupathi', 'Uttarahalli', ...,
       '12th cross srinivas nagar banshankari 3rd stage',
       'Havanur extension', 'Abshot Layout'], dtype=object)

In [149]:
df3.groupby("location")["location"].count().sort_values(ascending = False)

location
Whitefield             534
Sarjapur  Road         392
Electronic City        302
Kanakpura Road         266
Thanisandra            233
                      ...
 Banaswadi               1
Kanakadasa Layout        1
Kanakapur main road      1
Kanakapura  Rod          1
whitefiled               1
Name: location, Length: 1304, dtype: int64

In [150]:
locations = df3.groupby('location')['location'].count().sort_values()

In [151]:
locations

location
 Anekal                                 1
Kengeri Satellite Town Stage II         1
Kirloskar layout, Basaveshwarnagar      1
Kodanda Reddy Layout                    1
Konappana Agrahara                      1
                                     ...
Thanisandra                           233
Kanakpura Road                        266
Electronic City                       302
Sarjapur  Road                        392
Whitefield                            534
Name: location, Length: 1304, dtype: int64

In [152]:
locations_20cnt = locations[locations <= 20]

In [153]:
locations_20cnt

location
 Anekal                                1
Kengeri Satellite Town Stage II        1
Kirloskar layout, Basaveshwarnagar     1
Kodanda Reddy Layout                   1
Konappana Agrahara                     1
                                      ..
HBR Layout                            20
Sanjay nagar                          20
Yelachenahalli                        20
Binny Pete                            20
Poorna Pragna Layout                  20
Name: location, Length: 1161, dtype: int64

In [154]:
df3['location'] = df3['location'].apply(lambda x: 'Others' if x in locations_20cnt else x)

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_6736\4168884569.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['location'] = df3['location'].apply(lambda x: 'Others' if x in locations_20cnt else x)

In [155]:
df3.groupby("location")["location"].count().sort_values(ascending = False)

location
Others                4314
Whitefield             534
Sarjapur  Road         392
Electronic City        302
Kanakpura Road         266
                      ...
Sonnenahalli            22
Thubarahalli            22
Basaveshwara Nagar      21
Hoskote                 21
Ulsoor                  21
Name: location, Length: 144, dtype: int64

In [156]:
df3.head()

,availability,location,size,total_sqft,bath,price
0,Future Possession,Electronic City Phase II,2 BHK,1056,2.0,39.07
1,Ready To Move,Others,4 Bedroom,2600,5.0,120.00
2,Ready To Move,Uttarahalli,3 BHK,1440,2.0,62.00
3,Ready To Move,Lingadheeranahalli,3 BHK,1521,3.0,95.00
4,Ready To Move,Kothanur,2 BHK,1200,2.0,51.00

In [158]:
df3['size'].unique()

array(['2 BHK', '4 Bedroom', '3 BHK', '4 BHK', '6 Bedroom', '3 Bedroom',
       '1 BHK', '1 RK', '1 Bedroom', '8 Bedroom', '2 Bedroom',
       '7 Bedroom', '5 BHK', '7 BHK', '6 BHK', '5 Bedroom', '11 BHK',
       '9 BHK', '9 Bedroom', '27 BHK', '10 Bedroom', '11 Bedroom',
       '10 BHK', '19 BHK', '16 BHK', '43 Bedroom', '14 BHK', '8 BHK',
       '12 Bedroom', '13 BHK', '18 Bedroom'], dtype=object)

In [159]:
import re 
df3['bhks'] =df3['size'].apply(lambda x:  int(re.findall('\d+',x)[0].strip()))

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_6736\3230968144.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['bhks'] =df3['size'].apply(lambda x:  int(re.findall('\d+',x)[0].strip()))

In [160]:
df3.head()

,availability,location,size,total_sqft,bath,price,bhks
0,Future Possession,Electronic City Phase II,2 BHK,1056,2.0,39.07,2
1,Ready To Move,Others,4 Bedroom,2600,5.0,120.00,4
2,Ready To Move,Uttarahalli,3 BHK,1440,2.0,62.00,3
3,Ready To Move,Lingadheeranahalli,3 BHK,1521,3.0,95.00,3
4,Ready To Move,Kothanur,2 BHK,1200,2.0,51.00,2

In [161]:
df3['total_sqft'].unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [162]:
def get_mean(x):
    if re.findall('-',x):
        ss = x.strip().split('-')
        return ((float(ss[0])+float(ss[0]))/2)
    try:
        return float(x.strip())
    except:
        return None

In [163]:
df3['total_sqft_new']=df3['total_sqft'].apply(get_mean)

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_6736\3798994652.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['total_sqft_new']=df3['total_sqft'].apply(get_mean)

In [164]:
df3.head()

,availability,location,size,total_sqft,bath,price,bhks,total_sqft_new
0,Future Possession,Electronic City Phase II,2 BHK,1056,2.0,39.07,2,1056.0
1,Ready To Move,Others,4 Bedroom,2600,5.0,120.00,4,2600.0
2,Ready To Move,Uttarahalli,3 BHK,1440,2.0,62.00,3,1440.0
3,Ready To Move,Lingadheeranahalli,3 BHK,1521,3.0,95.00,3,1521.0
4,Ready To Move,Kothanur,2 BHK,1200,2.0,51.00,2,1200.0

In [165]:
df3.isnull().sum()

availability       0
location           0
size               0
total_sqft         0
bath               0
price              0
bhks               0
total_sqft_new    46
dtype: int64

In [166]:
df4 = df3.dropna()

In [167]:
df4.isnull().sum()

availability      0
location          0
size              0
total_sqft        0
bath              0
price             0
bhks              0
total_sqft_new    0
dtype: int64

In [168]:
df4['bath'].unique()

array([ 2.,  5.,  3.,  4.,  6.,  1.,  9.,  8.,  7., 11., 10., 14., 27.,
       12., 16., 40., 15., 13., 18.])

In [169]:
df4.groupby('bath')['bath'].count().sort_values()

bath
40.0       1
18.0       1
15.0       1
14.0       1
27.0       1
16.0       2
13.0       3
11.0       3
12.0       7
10.0      13
9.0       41
8.0       64
7.0      102
6.0      269
5.0      521
1.0      781
4.0     1222
3.0     3274
2.0     6893
Name: bath, dtype: int64

In [170]:
df5 = df4[df4['bath'] <= 10]

In [171]:
df5.head()

,availability,location,size,total_sqft,bath,price,bhks,total_sqft_new
0,Future Possession,Electronic City Phase II,2 BHK,1056,2.0,39.07,2,1056.0
1,Ready To Move,Others,4 Bedroom,2600,5.0,120.00,4,2600.0
2,Ready To Move,Uttarahalli,3 BHK,1440,2.0,62.00,3,1440.0
3,Ready To Move,Lingadheeranahalli,3 BHK,1521,3.0,95.00,3,1521.0
4,Ready To Move,Kothanur,2 BHK,1200,2.0,51.00,2,1200.0

In [172]:
df6  = df5.drop(['size','total_sqft'],axis=1)
df6.head()

,availability,location,bath,price,bhks,total_sqft_new
0,Future Possession,Electronic City Phase II,2.0,39.07,2,1056.0
1,Ready To Move,Others,5.0,120.00,4,2600.0
2,Ready To Move,Uttarahalli,2.0,62.00,3,1440.0
3,Ready To Move,Lingadheeranahalli,3.0,95.00,3,1521.0
4,Ready To Move,Kothanur,2.0,51.00,2,1200.0

In [173]:
df6[df6['total_sqft_new']/df6['bhks'] < 400]

        availability          location  bath  price  bhks  total_sqft_new
9      Ready To Move            Others   6.0  370.0     6          1020.0
16     Ready To Move     Bisuvanahalli   3.0   48.0     3          1180.0
26     Ready To Move   Electronic City   1.0   23.1     2           660.0
29     Ready To Move   Electronic City   2.0   47.0     3          1025.0
31     Ready To Move     Bisuvanahalli   2.0   35.0     3          1075.0
...              ...               ...   ...    ...   ...             ...
13281  Ready To Move   Margondanahalli   5.0  125.0     5          1375.0
13300  Ready To Move     Hosakerehalli   6.0  145.0     5          1500.0
13303  Ready To Move    Vidyaranyapura   5.0   70.0     5           774.0
13306  Ready To Move            Others   5.0  325.0     4          1200.0
13311  Ready To Move  Ramamurthy Nagar   9.0  250.0     7          1500.0

[1480 rows x 6 columns]

In [174]:
df7 = df6[df6['total_sqft_new']/df6['bhks'] > 400]
df7.head()

,availability,location,bath,price,bhks,total_sqft_new
0,Future Possession,Electronic City Phase II,2.0,39.07,2,1056.0
1,Ready To Move,Others,5.0,120.00,4,2600.0
2,Ready To Move,Uttarahalli,2.0,62.00,3,1440.0
3,Ready To Move,Lingadheeranahalli,3.0,95.00,3,1521.0
4,Ready To Move,Kothanur,2.0,51.00,2,1200.0

In [175]:
df7['price_per_sqft']=df7['price']*100000/df7['total_sqft_new']

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_6736\441749570.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df7['price_per_sqft']=df7['price']*100000/df7['total_sqft_new']

In [176]:
df7

,availability,location,bath,price,bhks,total_sqft_new,price_per_sqft
0,Future Possession,Electronic City Phase II,2.0,39.07,2,1056.0,3699.810606
1,Ready To Move,Others,5.0,120.00,4,2600.0,4615.384615
2,Ready To Move,Uttarahalli,2.0,62.00,3,1440.0,4305.555556
3,Ready To Move,Lingadheeranahalli,3.0,95.00,3,1521.0,6245.890861
4,Ready To Move,Kothanur,2.0,51.00,2,1200.0,4250.000000
...,...,...,...,...,...,...,...
13315,Ready To Move,Whitefield,4.0,231.00,5,3453.0,6689.834926
13316,Ready To Move,Others,5.0,400.00,4,3600.0,11111.111111
13317,Ready To Move,Raja Rajeshwari Nagar,2.0,60.00,2,1141.0,5258.545136
13318,Future Possession,Padmanabhanagar,4.0,488.00,4,4689.0,10407.336319
13319,Ready To Move,Doddathoguru,1.0,17.00,1,550.0,3090.909091

In [177]:
df7['price_per_sqft'].describe()

count     11446.000000
mean       6131.272179
std        3932.982959
min         267.829813
25%        4202.938655
50%        5263.157895
75%        6768.855941
max      176470.588235
Name: price_per_sqft, dtype: float64

In [178]:
def rmv_price_outlier(df):
    df_new=pd.DataFrame()
    for key,sdf in df.groupby('location'):
        m = sdf['price_per_sqft'].mean()
        s = sdf['price_per_sqft'].std()
        #print (sdf['location'])
        rdf = sdf[(sdf['price_per_sqft'] <= m+s) & (sdf['price_per_sqft'] > m-s)]
        #print(rdf)
        df_new = pd.concat([df_new,rdf],ignore_index=True)
    return df_new

In [179]:
df8 = rmv_price_outlier(df7)
df8.head()

,availability,location,bath,price,bhks,total_sqft_new,price_per_sqft
0,Ready To Move,1st Phase JP Nagar,4.0,250.0,4,2825.0,8849.557522
1,Ready To Move,1st Phase JP Nagar,3.0,167.0,3,1875.0,8906.666667
2,Ready To Move,1st Phase JP Nagar,4.0,210.0,3,2065.0,10169.491525
3,Ready To Move,1st Phase JP Nagar,3.0,157.0,3,2024.0,7756.916996
4,Ready To Move,1st Phase JP Nagar,3.0,225.0,3,2059.0,10927.634774

In [180]:
df8.shape

(9512, 7)

In [181]:
availability_dummy = pd.get_dummies(df8['availability'],drop_first=True)

In [182]:
availability_dummy

      Ready To Move
0                 1
1                 1
2                 1
3                 1
4                 1
...             ...
9507              1
9508              1
9509              1
9510              1
9511              1

[9512 rows x 1 columns]

In [184]:
location_dummy = pd.get_dummies(df8['location'],drop_first=True)
df9=pd.concat([df8, availability_dummy,location_dummy],axis=1)
df9.head()

,availability,location,bath,price,bhks,total_sqft_new,price_per_sqft,Ready To Move,2nd Stage Nagarbhavi,5th Phase JP Nagar,...,Ulsoor,Uttarahalli,Varthur,Vidyaranyapura,Vijayanagar,Vittasandra,Whitefield,Yelahanka,Yelahanka New Town,Yeshwanthpur
0,Ready To Move,1st Phase JP Nagar,4.0,250.0,4,2825.0,8849.557522,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Ready To Move,1st Phase JP Nagar,3.0,167.0,3,1875.0,8906.666667,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Ready To Move,1st Phase JP Nagar,4.0,210.0,3,2065.0,10169.491525,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Ready To Move,1st Phase JP Nagar,3.0,157.0,3,2024.0,7756.916996,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Ready To Move,1st Phase JP Nagar,3.0,225.0,3,2059.0,10927.634774,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [185]:
df10=df9.drop(['availability','location','price_per_sqft'],axis=1)
df10.head()

,bath,price,bhks,total_sqft_new,Ready To Move,2nd Stage Nagarbhavi,5th Phase JP Nagar,6th Phase JP Nagar,7th Phase JP Nagar,8th Phase JP Nagar,...,Ulsoor,Uttarahalli,Varthur,Vidyaranyapura,Vijayanagar,Vittasandra,Whitefield,Yelahanka,Yelahanka New Town,Yeshwanthpur
0,4.0,250.0,4,2825.0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,3.0,167.0,3,1875.0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,4.0,210.0,3,2065.0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3.0,157.0,3,2024.0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,3.0,225.0,3,2059.0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [186]:
X = df10.drop(['price'], axis=1)
y = df10['price']

In [187]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2, random_state=0)

In [188]:
len(X_train)

7609

In [189]:
len(X_test)

1903

In [190]:
X_train.describe()

,bath,bhks,total_sqft_new,Ready To Move,2nd Stage Nagarbhavi,5th Phase JP Nagar,6th Phase JP Nagar,7th Phase JP Nagar,8th Phase JP Nagar,9th Phase JP Nagar,...,Ulsoor,Uttarahalli,Varthur,Vidyaranyapura,Vijayanagar,Vittasandra,Whitefield,Yelahanka,Yelahanka New Town,Yeshwanthpur
count,7609.000000,7609.000000,7609.000000,7609.000000,7609.000000,7609.000000,7609.000000,7609.000000,7609.000000,7609.000000,...,7609.000000,7609.000000,7609.000000,7609.000000,7609.000000,7609.000000,7609.000000,7609.000000,7609.000000,7609.000000
mean,2.451045,2.522671,1518.513054,0.782494,0.000131,0.002234,0.001577,0.010120,0.003548,0.002760,...,0.000920,0.014194,0.005126,0.001971,0.002497,0.003154,0.047838,0.017479,0.003548,0.006703
std,0.918470,0.824533,898.791038,0.412576,0.011464,0.047218,0.039684,0.100092,0.059467,0.052466,...,0.030319,0.118297,0.071414,0.044359,0.049911,0.056077,0.213438,0.131057,0.059467,0.081600
min,1.000000,1.000000,410.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,2.000000,1120.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2.000000,2.000000,1300.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,3.000000,3.000000,1650.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,9.000000,11.000000,30400.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [191]:
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import cross_val_score

In [192]:
model_score =cross_val_score(estimator=LinearRegression(),X=X_train, y=y_train, cv=6)
model_score

array([0.88749248, 0.83974159, 0.77816298, 0.78621149, 0.80342302,
       0.75351985])

In [193]:
model_score.mean()

0.8080919019704558

In [194]:
model_score.std()

0.044122094231540565

In [195]:
model_score =cross_val_score(estimator=DecisionTreeRegressor(),X=X_train, y=y_train, cv=5)
model_score

array([0.8444709 , 0.72964812, 0.50904117, 0.72741712, 0.40120085])

In [196]:
model_score.mean()

0.642355631286884

In [197]:
model_score.std()

0.16225559650609617

In [198]:
model_lr = LinearRegression()
model_lr.fit(X_train,y_train)

LinearRegression()